$primary: #511F73;
$secondary: #DCA7F2;
$info: #A545BF;
$success: #1A1040;
$danger: #0A0B26;
$cardcolor: #67b9da;

body {
    padding-top: 100px;
}

.pageSection {
    box-shadow: 0 0 5px 5px white;
}

#containerAbout {
    background-image: url('https://external-preview.redd.it/Z_2Ng0SBbre_Kq90lCjOlab2zMHrS14osNIZ9knY7H0.jpg?auto=webp&s=73d4af09493dec76d9b5bbe26d71b909d559eff1');
    min-height: 100vh;
}

#containerProj {
    background-image: url("https://img.finalfantasyxiv.com/lds/promo/h/f/bdWDj1_hfpGhrWyrE0z2nZ4G_4.jpg");
    min-height: 100vh;
    background-size: auto 100%;
}

#containerHobb {
    background-image: url(../media/lihko.png);
    background-position: 80% 30%;
    min-height: 100vh;
    background-size: auto 100%;
}

#introPicture {
    background-image: url('https://i.pinimg.com/originals/3d/9c/67/3d9c67c0fafe1d7ce97cdd0ea4b1a096.jpg');
    height: 100vh;
}

#navBar {
    box-shadow: 0 0 5px 5px white;
    background-size: 100%;
    background-image: url('https://media.istockphoto.com/vectors/space-background-wide-realistic-cosmos-with-shining-stars-long-banner-vector-id1283095709?k=20&m=1283095709&s=170667a&w=0&h=FBCrFEbfgaK-G44Sxpr6NiOu3kJHhrt2F6TmKrc4keM=');
}

#ffxivideo {
    width: 60vw;
    height: auto !important;
    min-height: 100%;
}

#contentRow {
    min-height: 100%
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.card {
    background-color: rgba($cardcolor, 0.7); 
}
.card-body {
     opacity: 1 !important;
}

.card-header, .card-footer {
    background-color: $cardcolor;
}